@mixin drawer {
  position: fixed;
  padding: 50px 20px 0px 20px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  background-color: #fff;
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 0.25s linear;
}

@mixin myBtn {
  min-width: 185px;
  padding: 16px 14px;
  font-family: $font-family;
  border-radius: 8px;
  background: $primary-color;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
