@import "../parts/variables";

.hezo-about {
  .container {
    margin: 0 25px;
    padding: 0;
  }
  padding: 69px 0 68px 0;
  background: #f2ffec;
  &--lv1 {
    color: $text-color;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
}

@media screen and (min-width: 578px) {
  .hezo-about {
    .container {
      margin: 0 25px;
      padding: 0;
    }
    padding: 69px 0 68px 0;
    background: #f2ffec;
    &--lv1 {
      color: $text-color;
      font-size: 4.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
