.hezo-about {
  .container {
    margin: 0 25px;
    padding: 0;
  }
  padding: 69px 0 68px 0;
  background: #f2ffec;
  &--lv1 {
    color: var(--content, #2c2c2c);
    /* Title/H1 (bold) */
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
