@import "../parts/variables";
.hezo-content {
  margin: 0 25px;
}
.hezo-content__text {
  margin-top: 60px;
  display: block;
  text-align: center;
  color: $text-color;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
}
.hezo--lv1 {
  margin-top: 30px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}
.hezo-content__desc {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.8;
}

// hezo img
.hezo-img__inner {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background: #dcffca;
  &::after {
    content: "GREEN CHOP";
    width: 220px;
    position: absolute;
    top: 20px;
    left: calc(100% - 20px);
    color: #216000;
    font-size: 60px;
    font-weight: 700;
    opacity: 0.15;
    transform-origin: left top;
    rotate: 90deg;
  }
}

.hezo-img__item {
  width: 70%;
  max-width: 736px;
}
.col-12.mobile-gap {
  margin: 30px 0 0 0;
}
.main .col-12.mobile-gap {
  margin-top: 50px;
}

@media screen and (min-width: 576px) {
  // hezo
  .hezo-img__inner {
    &::after {
      top: 40px;
      font-size: 80px;
    }
  }
  .hezo-img__item {
    right: 100px;
  }
}

@media screen and (min-width: 768px) {
  .hezo-content {
    margin: 0 50px;
  }
  .hezo-img__inner {
    max-width: 931px;
    margin: 0 auto;
  }
  .hezo-content__text,
  .hezo--lv1,
  .hezo-content__desc {
    text-align: left;
  }
  .hezo--lv1,
  .hezo-content__desc {
    margin-top: 40px;
  }
  .hezo-img__inner {
    &::after {
      font-size: 100px;
    }
  }
}

@media screen and (min-width: 992px) {
  .hezo-content {
    margin: 0 25px;
  }
  .main .col-12.mobile-gap {
    margin-top: 0;
  }
  .hezo-img__inner {
    border-radius: 20px 0px 0px 20px;
  }
}

@media screen and (min-width: 1200px) {
  // hezo
  .hezo-content__text {
    margin-top: 0;
    font-size: 4.4rem;
    line-height: 1.32;
  }
  .hezo--lv1 {
    margin-top: 0;
    font-size: 5.2rem;
  }
  .hezo-content__desc {
    margin-top: 32px;
  }
  .hezo-img__inner {
    margin: 0 0 0 auto;
    &::after {
      width: 700px;
      font-size: 12rem;
      font-weight: 800;
      line-height: 1.25;
    }
  }
}

@media screen and (min-width: 1440px) {
  // hezo

  .hezo-content {
    margin: 0;
    padding-left: calc((100vw - 1440px) / 2);
    &__text {
      margin-top: 0;
      font-size: 4.4rem;
      line-height: 1.32;
    }
  }

  .hezo--lv1 {
    position: relative;
    top: 2px;
    width: 460px;
    margin-top: 0;
    font-size: 5.2rem;
    font-weight: 800;
  }
  .hezo-content__desc {
    width: 539px;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.53;
  }
  .hezo-img__inner {
    position: relative;
    height: 850px;
    &::after {
      top: 66px;
      width: 811px;
      font-size: 20rem;
      line-height: 1;
    }
  }
  .hezo-img__item {
    width: 736px;
    position: absolute;
    top: 82px;
    left: -119px;
  }

  .col-xxl-6-1-8 {
    --column-number: 6.18;
  }
  .col-xxl-5-8-2 {
    --column-number: 5.82;
  }
}

/* hezo-quality */

.hezo-quality {
  margin-top: 40px;

  .container {
    margin: 0 25px;
    padding: 0;
  }

  &--lv2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.5;
  }

  &__desc {
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.53;
    text-align: center;
  }

  &__bottom {
    position: relative;
    margin-top: 60px;
  }
  &__circle-right,
  &__circle-left {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
  &__circle-left {
    background: #dcffca;
    top: -75px;
    left: -75px;
  }
  &__circle-right {
    background: #ffd5bd;
    right: -75px;
    bottom: -75px;
  }

  &__items {
    &:hover {
      transform: scale(1.2);
      .hezo-quality__items__img {
        background: #f2ffec;
      }
    }
    cursor: pointer;
    padding: 40px 50px 71px 30px;
    border-radius: 4px;
    background: #fff;
    box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
    transition: transform 0.25s linear;
  }

  &__items__img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #fff0e7;
  }
  &__bottom {
    .col-12 {
      --row-gap: 60px;
    }

    .col-12:last-child {
      margin: 0;
    }
  }
  &__values {
    display: inline-block;
    margin-top: 28px;
    font-size: 4.2rem;
    font-weight: 800;
  }
  &__bottom__desc {
    margin-top: 29px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
  }
}
