@import "../parts/variables";
.hezo-content {
  margin: 0 25px;
}
.hezo-content__text {
  display: block;
  text-align: center;
  color: $text-color;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
}
