.header {
  .container {
    margin: 0 25px;
    padding: 0;
  }
  .icon-logo {
    width: 100px;
  }

  .header-content {
    padding: 50px 20px 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: #333;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.25s linear;
    .header-menu__list {
      li {
        + li {
          margin-top: 30px;
        }

        a {
          font-size: 2rem;
          font-weight: 600;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .header-times {
      cursor: pointer;
      i {
        display: block;
        margin-left: auto;
        font-size: 2.5rem;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffe53b;
        background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
        text-align: center;
        line-height: 30px;
      }
    }
    .header-icon {
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: #2b262631;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s linear;
  transition-property: visibility, opacity;
}

input[id="header-menu-label"]:checked ~ .header .header-content {
  transform: translateX(0);
}
input[id="header-menu-label"]:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 20px 0px 0px 0px;
    height: 130px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    .header-menu {
      ul {
        display: flex;
        li {
          &:first-child {
            a {
              padding-left: 0;
            }
          }
          a {
            font-weight: 600;
            font-size: 2rem;
            padding: 0 30px;
          }
        }
      }
    }
    .container {
      padding: 0;
    }
    .header-content {
      position: relative;
      top: 9px;
      display: flex;
      gap: 30px;
    }
    .header-icon {
      display: flex;
      gap: 60px;
    }
    .cart-icon {
      position: relative;
      justify-content: space-between;
      &::after {
        position: absolute;
        top: -7px;
        right: -9px;
        content: "3";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e05000;
        color: var(--white, #fff);
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
      }
    }
    .col-xxl-7-4 {
      --column-number: 7.4;
    }
    .col-xxl-4-6 {
      --column-number: 4.6;
    }
  }
}
