.header {
  padding: 20px 0;
  .header-menu {
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        a {
          font-weight: 600;
        }
      }
    }
  }
  .header-icon {
    display: flex;
  }
}
